Source: deepin-wm
Section: x11
Priority: optional
Maintainer: 宋文武 <songwenwu@linuxdeepin.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               gnome-common,
               gsettings-desktop-schemas-dev,
               libbamf3-dev,
               libcanberra-dev,
               libcanberra-gtk3-dev,
               libclutter-1.0-dev (>= 1.9.16),
               libclutter-gtk-1.0-dev,
               libgee-0.8-dev,
               libglib2.0-dev (>= 2.32),
               libgnome-desktop-3-dev,
               libgtk-3-dev (>= 3.4.0),
               libdeepin-mutter-dev (>= 3.8.4),
               libplank-dev (>= 0.3.0),
               valac (>= 0.22.0)
Standards-Version: 3.9.5
Homepage: https://gitcafe.com/Deepin/deepin-wm https://launchpad.net/gala

Package: deepin-wm
Architecture: any
Depends: dde-daemon,
         libdeepin-wm0 (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Provides: x-window-manager
Description: Deepin Window Manager
 deepin-wm(fork of gala) is a window & compositing manager based on libmutter. It manages the
 various windows a user has open.
 It takes care of behaviors such as moving windows around, window switching,
 window overview, animating windows, maximization, multiple workspaces,
 providing accessibility features like zoom, and more.

Package: deepin-wm-dbg
Architecture: any
Section: debug
Priority: extra
Depends: deepin-wm (= ${binary:Version}),
         libdeepin-wm0 (= ${binary:Version}),
         ${misc:Depends}
Description: Deepin Window Manager (debugging symbols)
 deepin-wm(fork of gala) is a window & compositing manager based on libmutter. It manages the
 various windows a user has open.
 It takes care of behaviors such as moving windows around, window switching,
 window overview, animating windows, maximization, multiple workspaces,
 providing accessibility features like zoom, and more.
 .
 This package contains debugging symbols for deepin-wm.

Package: libdeepin-wm0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: Library to build plugins for Deepin Window Manager
 deepin-wm(fork of gala) is a window & compositing manager based on libmutter. It manages the
 various windows a user has open.
 It takes care of behaviors such as moving windows around, window switching,
 window overview, animating windows, maximization, multiple workspaces,
 providing accessibility features like zoom, and more.
 .
 This package contains the shared library used for deepin-wm.

Package: libdeepin-wm-dev
Architecture: any
Section: libdevel
Depends: libclutter-gtk-1.0-dev,
         libdeepin-wm0 (= ${binary:Version}),
         libgdk-pixbuf2.0-dev,
         libglib2.0-dev (>= 2.32),
         libdeepin-mutter-dev (>= 3.8.4),
         ${misc:Depends}
Description: Library to build plugins for Deepin Window Manager (development files)
 deepin-wm(fork of gala) is a window & compositing manager based on libmutter. It manages the
 various windows a user has open.
 It takes care of behaviors such as moving windows around, window switching,
 window overview, animating windows, maximization, multiple workspaces,
 providing accessibility features like zoom, and more.
 .
 This package contains the development files used for deepin-wm.
